.header {
    display: flex;
    flex-direction: row;
    // background-color: green;
    width: 100vw;
    overflow: hidden;

    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
        // background-color: blue;
    }


    
}