<nb-layout>

  <nb-layout-header class="header">
    <!-- Insert header here -->
      
    
    <fa-icon class="icons" [icon]="faBars"></fa-icon>
    <app-header class=header-container></app-header>
  </nb-layout-header>

  <nb-layout-column>
    <app-body></app-body>
  </nb-layout-column>
  <nb-sidebar state="expanded"></nb-sidebar>
</nb-layout>